button {
  width: 200px;
  height: 100px;
  font-family: "helvetica";
  font-size: 18px;
}

#revealscore {
  font-family: "helvetica";
  font-size: 50px;
}

form {
  font-size: 24px;
  option: 24px;
  
  float:left;
  clear:right;
  
  
  
}

select { 
  
   font-size: 18px;
  font-family: "helvetica";
}

#removebuttons {
  color:red;
}
